#biocolumn p{
  font-size: 20px;
  color: #587162;
  text-align: left;
  padding: 20px;
  width: auto;
  letter-spacing: 2px;
}

#biocolumn h3 {
	font-size: 30px;
  color: #587162;
  text-align: left;
  padding-left: 20px;
  width: auto;
}

#about {
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 1px 1px 15px 0 rgba(0, 0, 0, 0.1);
	background-color: MintCream;
	width: 70%;
	height: auto;
	margin: 25px auto auto auto;
}



h2 {
  font-size: 40px;
  text-align: center;
  background-color: #8BBB9E;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 25px;
  color: white; 
}

img {
	height: auto;
	width: 50vh;
	max-width: inherit;
	z-index: 500px;
	object-fit: contain;
}

#Resume{
	width: 50%;
	left: 25%;
	height: 100%;
	position: relative;
	margin-top: 20px;
}

@media screen and (max-width:990px) {
  #about { flex-wrap: wrap;  }
  #about { width: 50vh; }
  #about:first-child { flex-basis: 100%; }
}


