#biocolumn p{
  font-size: 25px;
  color: #587162;
  text-align: left;
  padding: 20px;
  width: auto;
  letter-spacing: 2px;
}

#biocolumn h3 {
	font-size: 35px;
  color: #587162;
  text-align: left;
  padding-left: 20px;
  width: auto;
}

#biocolumn a {
	text-decoration: none;
	color: #587162;
}

#about {
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 10px 10px #587162;
	background-color: MintCream;
	width: 70%;
	height: auto;
	margin: 100px auto auto auto;
}


h2 {
  font-size: 40px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 25px;
  color: #587162;
  padding-top: 125px;
}

#about img {
	height: auto;
	width: 50vh;
	max-width: inherit;
	z-index: 500px;
	object-fit: contain;
}


div.gallery {
	display: block;
	margin-left: 7%;
	margin-top: 50px;
}
div.gallery img {
  width: 90%;
  height: auto;
  border-radius: 10px;
  box-shadow: 10px 10px #587162;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: #587162;
  font-size: 25px;
  width: 90%;
}

.responsive {
	box-sizing: border-box;
}


.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width:990px) {
  #about { flex-wrap: wrap;  }
  #about { width: 50vh; }
  #about:first-child { flex-basis: 100%; }
}


