#title {
  text-align: center;
  background-color: #8BBB9E;
  padding: 20px;
  color: white;
}

#title h2{
  font-size: 60px;
}

#Object {
	display: block;
	background-color: MintCream;
	box-shadow: 1px 1px 15px 0 rgba(0, 0, 0, 0.1);
	width: 60%;
	align-items: center;
	justify-content: center;
	height: auto;
	margin: 25px auto 25px auto;
}

#Object h2 {
	text-align: center;
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 45px;
	color: #587162;
	margin: auto;
	padding-top: 50px;
}

#Object p {
	text-align: center;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 45px;
	color: #587162;
	margin: auto;
	padding-top: 50px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 50px;
}

#Slides {
	background-color: #8BBB9E;
	padding: 20px;
	height: auto;
	width: auto;
	z-index: 500px;
	padding: 25px;
	display: block;
	align-items: center;
	margin: 10px auto auto auto;
}

iframe {
	width: 1286px;
	height: 750px;
	display: block;
	margin: 0 auto;
	
}
	


	