#title {
  text-align: center;
  background-color: SeaGreen;
  padding: 20px;
  color: white;
}

#title h2{
  font-size: 30px;
}
#title h3 {
  font-size: 15px;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 2px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}