#title {
  text-align: center;
  background-color: #8BBB9E;
  padding: 20px;
  color: white;
}

#title h2{
  font-size: 35px;
}
#title h3 {
  font-size: 20px;
  font-weight: normal;
}

div.gallery {
  margin: 20px auto 20px 100px;
  width: 1000px;
  float: left;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
  object-fit: cover;
  box-shadow: 1px 1px 15px 0 rgba(0, 0, 0, 0.5);
  z-index: 500px;
}

#Ballroom {
	display: block;
	align-items: center;
	box-shadow: 1px 1px 15px 0 rgba(0, 0, 0, 0.1);
	background-color: MintCream;
	width: 20%;
	height: auto;
}

#Climb {
	display: block;
	align-items: center;
	box-shadow: 1px 1px 15px 0 rgba(0, 0, 0, 0.1);
	background-color: MintCream;
	width: 20%;
	height: auto;
}

.gallery h3 {
	text-align: center;
	color: #587162;
	padding-top: 15px;
}

.gallery p {
	text-align: center;
	color: #587162;
}




