html {
	position: relative;
	font-family: 'Josefin Sans', sans-serif;
}

body {
	background: Honeydew;
	z-index: 500;
	margin: 0;
}

#backdrop {
	background: #587162;
	height: 100vh;
	width: auto;
	top: 0;
	left: 0px;
	border-radius: 0px;
	padding: 50px;
	position: relative;
	display: block;
}

#me img {
	position: absolute;
	left: 5%;
	border-radius: 50%;
	height: 70%;
	width: auto;
}

#name {
	position: relative;
	width: 550px;
	height: 74px;
	left: 55%;
	background-color: white;
	border-radius: 10px;
	padding-bottom: 10px;
	box-shadow: 10px 10px;
	display: block;
}

#name h1 {
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 40px;
	color: #587162;
	text-align: left;
	padding-top: 20px;
	margin-left: 30px;
}

#description {
	position: relative;
	width: 750px;
	height: 296px;
	left: 55%;
	background-color: white;
	border-radius: 10px;
	box-shadow: 10px 10px;
	display: block;
}

#description p {
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 40px;
	color: #587162;
	padding-left: 30px;
	padding-top: 20px;
}
	
#navigation {
	padding-top: 30px;
}

#navigation a {
	text-decoration: none;
	color: #587162;
}

#navigation a:hover {
	color: blanchedalmond;
}


#box1 {
	position: relative;
width: 65px;
height: 40px;
left: 55%;
top: 0px;
background-color: white; 
border-radius: 10px;
list-style-type: none;
text-align: center;
font-weight: 400;
font-size: 32px;
line-height: 40px;
padding: 15px;
box-shadow: 10px 10px;
display: block;
}



#box2 {
	position: relative;
width: 198px;
height: 66px;
left: 55%;
top: 25px;
background-color: white;
border-radius: 10px;
list-style-type: none;
text-align: center;
font-weight: 400;
font-size: 32px;
line-height: 40px;
padding-top: 15px;
box-shadow: 10px 10px;
display: block;
}

#box3 {
	position: relative;
width: 246px;
height: 66px;
left: 55%;
top: 50px;
background-color: white;
border-radius: 10px;
list-style-type: none;
text-align: center;
font-weight: 400;
font-size: 32px;
line-height: 40px;
padding-top: 15px;
box-shadow: 10px 10px;
display: block;
}



#box4 {
	position: relative;
width: 246px;
height: 66px;
left: 55%;
top: 75px;
background-color: white;
border-radius: 10px;
list-style-type: none;
text-align: center;
font-weight: 400;
font-size: 32px;
line-height: 40px;
padding-top: 15px;
box-shadow: 10px 10px;
display: block;
}


#heading {
    background-color: #587162;
	left: 0;
	right: 0;
	top: 0;
	padding: 20px;
	height: 50px;
	display: none;
	color: white;
	z-index: 1000;
}

#heading h1 {
	font-size: 38px;
	font-family: 'Josefin Sans', sans-serif;
	margin: 0px;
	float: right;
	display: block;
	color: white;
	position: relative;
	padding-top: 5px;
}


#nav {
	position: relative;
	margin-top: 25px;
	display: inline-block;
	float: right;
}

#nav li {
	color: white;
	font-size: 20px;
	position: relative;
	list-style-type: none;
	padding-left: 10px;
}

#icons {
	display: inline-block;
	position: relative;
	margin-top: 25px;
	float: right;
}

#icons i {
	padding-left: 20px;
}

#heading .nav_button {
	display: inline-block;
}

#heading a:hover {
	color: blanchedalmond;
}

.sticky {
	position: sticky;
	top: 0px;
	opacity: 0.85;
}

a {
	cursor: pointer;
}
