#title {
  text-align: center;
  background-color: #8BBB9E;
  padding-top: 20px;
  color: white;
  height: 100vh;
}

#landingimg img {
	left: 250px;
	margin-top: 1%;
	position: absolute;
	border-radius: 10px;
	width: 30%;
	top: 200px;
}


#m1 {
	position: relative;
	background-color: white; 
	border-radius: 10px;
	list-style-type: none;
	text-align: left;
	font-weight: 400;
	font-size: 32px;
	line-height: 40px;
	padding: 5px;
	box-shadow: 10px 10px;
	display: block;
	color: #587162;
	left: 50%;
	width: 215px;
	margin-top: 3%;
	padding-left: 15px;
}

#r1 {
	position: relative;
	background-color: white; 
	border-radius: 10px;
	list-style-type: none;
	text-align: left;
	font-weight: 400;
	font-size: 25px;
	line-height: 40px;
	padding: 10px;
	box-shadow: 10px 10px;
	display: block;
	width: 500px;
	color: #587162;
	left: 70%;
	margin-top: 1%;
	padding-left: 15px;

}

#m2 {
	position: relative;
	background-color: white; 
	border-radius: 10px;
	list-style-type: none;
	text-align: left;
	font-weight: 400;
	font-size: 32px;
	line-height: 40px;
	padding: 5px;
	box-shadow: 10px 10px;
	display: block;
	color: #587162;
	left: 50%;
	width: 225px;
	margin-top: 1%;
	padding-left: 15px;
}

#r2 {
	position: relative;
	background-color: white; 
	border-radius: 10px;
	list-style-type: none;
	text-align: left;
	font-weight: 400;
	font-size: 25px;
	line-height: 40px;
	padding: 5px;
	box-shadow: 10px 10px;
	display: block;
	color: #587162;
	left: 70%;
	width: 520px;
	margin-top: 1%;
	padding-left: 15px;
}

#Object {
	display: block;
	background-color: MintCream;
	box-shadow: 1px 1px 15px 0 rgba(0, 0, 0, 0.1);
	width: 60%;
	align-items: center;
	justify-content: center;
	height: auto;
	margin: 25px auto 25px auto;
}

#Object h2 {
	text-align: center;
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 45px;
	color: #587162;
	margin: auto;
	padding-top: 50px;
}

#Object p {
	text-align: center;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 45px;
	color: #587162;
	margin: auto;
	padding-top: 50px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 50px;
}

#Images {
	background-color: HoneyDew;
	padding: 20px;
	display: block;
}

#Images img {
	height: auto;
	width: 25%;
	z-index: 500px;	
	display: inline-block;
	flex-direction: column;
	margin-left: 6%;
	box-shadow: 10px 10px #587162;
	margin-top: 50px;
	border-radius: 10px;
}

	
