#title {
  text-align: center;
  background-color: #8BBB9E;
  padding-top: 20px;
  color: white;
  height: 100vh;
}

#landingimg img {
	left: 250px;
	margin-top: 1%;
	position: absolute;
	border-radius: 10px;
	width: 30%;
	top: 200px;
}


#m1 {
	position: relative;
	background-color: white; 
	border-radius: 10px;
	list-style-type: none;
	text-align: left;
	font-weight: 400;
	font-size: 32px;
	line-height: 40px;
	padding: 5px;
	box-shadow: 10px 10px;
	display: block;
	color: #587162;
	left: 50%;
	width: 250px;
	margin-top: 1%;
	padding-left: 15px;
}

#r1 {
	position: relative;
	background-color: white; 
	border-radius: 10px;
	list-style-type: none;
	text-align: left;
	font-weight: 400;
	font-size: 25px;
	line-height: 40px;
	padding: 10px;
	box-shadow: 10px 10px;
	display: block;
	width: 500px;
	color: #587162;
	left: 70%;
	margin-top: 1%;
	padding-left: 15px;

}

#m2 {
	position: relative;
	background-color: white; 
	border-radius: 10px;
	list-style-type: none;
	text-align: left;
	font-weight: 400;
	font-size: 32px;
	line-height: 40px;
	padding: 5px;
	box-shadow: 10px 10px;
	display: block;
	color: #587162;
	left: 50%;
	width: 225px;
	margin-top: 1%;
	padding-left: 15px;
}

#r2 {
	position: relative;
	background-color: white; 
	border-radius: 10px;
	list-style-type: none;
	text-align: left;
	font-weight: 400;
	font-size: 25px;
	line-height: 40px;
	padding: 5px;
	box-shadow: 10px 10px;
	display: block;
	color: #587162;
	left: 70%;
	width: 520px;
	margin-top: 1%;
	padding-left: 15px;
}


#Problem {
	background-color: #8BBB9E;
	padding: 20px;
	margin: 0px auto auto auto;
}

#Problem h2 {
	width: 1300px;
	left: 70px;
	top: 978px;
	font-style: normal;
	font-weight: 400;
	font-size: 50px;
	line-height: 45px;
	text-align: center;
	color: white;
	margin: auto;
	padding-top: 50px;
	display: block;
}

#Problem h1 {
	width: 789px;
	left: 341px;
	top: 1776px;
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 60px;
	text-align: center;
	color: white;
	display: block;
	margin: auto;
}

#Problem p {
	width: 1300px;
	left: 86px;
	top: 2430px;
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 45px;
	text-align: center;
	color: white;
	margin: auto;
	display: block;
	padding-bottom: 50px;
	padding-top: 100px;
}

#Role {
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 10px 10px #587162;
	background-color: MintCream;
	width: 60%;
	height: auto;
	margin: 100px auto auto auto;
}

#Roletext h2 {
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 45px;
	color: #587162;
	margin: auto;
	padding-top: 50px;
	text-align: center;
}

#Roletext p {
	left: 86px;
	top: 2430px;
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 45px;
	text-align: center;
	color: #587162;
	margin: auto;
	display: block;
	padding-bottom: 50px;
	padding-top: 50px;
	padding-left: 25px;
}

#Images {
	background-color: HoneyDew;
	padding: 20px;
	display: block;
	margin-top: 100px;
}

#Images img {
	height: auto;
	width: 20%;
	z-index: 500px;	
	display: inline-block;
	flex-direction: column;
	margin-left: 6%;
	box-shadow: 10px 10px #587162;
	margin-top: 50px;
	border-radius: 10px;
	margin-left: 10%;
}
