#title {
  text-align: center;
  background-color: #8BBB9E;
  padding-top: 20px;
  color: white;
  height: 100vh;
}

#landingimg img {
	left: 200px;
	margin-top: 1%;
	position: absolute;
	border-radius: 10px;
	width: 30%;
	top: 200px;
}


#m1 {
	position: relative;
	background-color: white; 
	border-radius: 10px;
	list-style-type: none;
	text-align: center;
	font-weight: 400;
	font-size: 32px;
	line-height: 40px;
	padding: 5px;
	box-shadow: 10px 10px;
	display: block;
	color: #587162;
	left: 50%;
	width: 300px;
	float: center;
	margin-top: 1%;
}

#r1 {
	position: relative;
	background-color: white; 
	border-radius: 10px;
	list-style-type: none;
	text-align: center;
	font-weight: 400;
	font-size: 25px;
	line-height: 40px;
	padding: 10px;
	box-shadow: 10px 10px;
	display: block;
	width: 500px;
	color: #587162;
	float: center;
	left: 70%;
	margin-top: 1%;

}

#m2 {
	position: relative;
	background-color: white; 
	border-radius: 10px;
	list-style-type: none;
	text-align: center;
	font-weight: 400;
	font-size: 32px;
	line-height: 40px;
	padding: 5px;
	box-shadow: 10px 10px;
	display: block;
	color: #587162;
	left: 50%;
	width: 250px;
	float: center;
	margin-top: 1%;
}

#r2 {
	position: relative;
	background-color: white; 
	border-radius: 10px;
	list-style-type: none;
	text-align: center;
	font-weight: 400;
	font-size: 25px;
	line-height: 40px;
	padding: 5px;
	box-shadow: 10px 10px;
	display: block;
	color: #587162;
	left: 70%;
	width: 520px;
	float: center;
	margin-top: 1%;
}

.arrow {
  border: solid MintCream;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 25px;
  margin-top: 5vh;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.button {
	visibility: hidden;
}


#Problem {
	background-color: #8BBB9E;
	padding: 20px;
	margin: 0px auto auto auto;
}

#Journey img {
	margin-top: 20px;
	border-radius: 10px;
	width: 1000px;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#Journey h3 {
	color: white;
	font-size: 30px;
	text-align: center;
}

.Rows {
	display: flex;
	margin-left: 40px;
}

.Column {
	flex-basis: 75%;
	padding: 15px;
	margin-top: 30px;
}

.triangle-right {
	border-top: 25px solid transparent;
	border-left: 50px solid #587162;
	border-bottom: 25px solid transparent;
	position: absolute;
	top: 1525px;
	left: 50%;
	transform: scale(3, 3);
}

#Column1 {
	margin-left: 5%;
}

#Column1 h2 {
	color: white;
	font-size: 52px;
	text-align: center;
	width: 50%;
	padding: 40px;
	padding-bottom: 0px;
}

#Column1 h3 {
	background-color: MintCream;
	font-size: 35px;
	width: 50%;
	padding: 40px;
	height: 275px;
	color: #587162;
	box-shadow: 10px 10px;
}


#Column2 {
	margin-left: 7%;
}

#Column2 h2 {
	color: white;
	font-size: 52px;
	text-align: center;
	width: 75%;
	padding: 40px;
	padding-bottom: 0px;
}

#Column2 h3 {
	background-color: MintCream;
	font-size: 35px;
	width: 75%;
	padding: 40px;
	color: #587162;
	box-shadow: 10px 10px;
	float: center;
}

#Processhead h2 {
	color: #587162;
	font-size: 58px;
	text-align: center;
}

#TextColumn {
	background-color: white;
	width: 50%;
	box-shadow: 10px 10px #587162;
	margin-left: 60px;
}

#TextColumn h3 {
	color: #587162;
	font-size: 45px;
	text-align: center;
	margin-top: 100px;
}

#TextColumn p {
	color: #587162;
	font-size: 30px;
	padding-left: 25px;
	padding-right: 25px;
}

#Gallery img {
	border-radius: 10px;
	margin-left: 25%;
}

.row2 {
	display: flex;
	margin-left: 40px;
}

.column2 {
	flex-basis: 50%;
	padding: 15px;
	margin-top: 30px;
}

.row3 {
	display: flex;
}

.column3 {
	padding: 15px;
	margin-top: 30px;
	flex-basis: 100%;
}

#Proposalhead {
	background-color: #8BBB9E;
	padding-bottom: 50px;
	padding-top: 15px;
	margin-top: 50px;
}

#Proposalhead h2 {
	background-color: #8BBB9E;
	color: white;
	font-size: 58px;
	text-align: center;
}

#Proposal {
	background-color: #8BBB9E;
	
}
#Attachment img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#ID img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#Angle img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#Atext {
	background-color: MintCream;
	box-shadow: 10px 10px #587162;
}

#Atext h3 {
	color: #587162;
	font-size: 36px;
	text-align: center;
	padding-top: 20px;
}

#Atext p {
	color: #587162;
	font-size: 25px;
	padding: 20px;
	text-align: center;
}

#IDtext {
	background-color: MintCream;
	box-shadow: 10px 10px #587162;
}

#IDtext h3 {
	color: #587162;
	font-size: 36px;
	text-align: center;
	padding-top: 20px;
}

#IDtext p {
	color: #587162;
	font-size: 25px;
	padding: 20px;
	text-align: center;
}

#Mtext {
	background-color: MintCream;
	box-shadow: 10px 10px #587162;
}

#Mtext h3 {
	color: #587162;
	font-size: 36px;
	text-align: center;
	padding-top: 20px;
}

#Mtext p {
	color: #587162;
	font-size: 25px;
	padding: 20px;
	text-align: center;
}

	
	

