header {
  background-color: DarkSeaGreen;
  font: normal Lucida Console, Monospace;
  position: absolute;
  width: 100%;
  padding: 20px;
  height: 50px;
}


li {
	float: left;
	display: block;
	color: DarkSeaGreen;
	text-align: left;
	list-style-type: none;
	display: inline;
	padding: 10px;
	font-size: 24px;
	text-decoration: none;
	font: normal Lucida Console, Monospace;
	margin: -25px auto;
}




body {
	background-color: HoneyDew;
	font: normal 10px Lucida Console, Monospace;
}

header h1 {
  font-size: 38px;
  margin: 0;
  text-align: right;
  font: normal Lucida Console, Monospace;
}


