header {
  background-color: DarkSeaGreen;
  color: #fff;
  text-align: right;
  font: normal Lucida Console, Monospace;
  display: flex;
  position: relative;
  width: 100%;
  height: 50px;
  margin: 0px;
  padding: 0px;
  
}

	


li {
	float: left;
	display: block;
	color: DarkSeaGreen;
	text-align: center;
	text-decoration: none;
	list-style-type: none;
	display: inline;
	padding: 10px;

}


body {
	background-color: HoneyDew;
	font: normal 10px Lucida Console, Monospace;
}

header h1 {
  font-size: 42px;
  margin: 0;
}

