header {
  background-color: DarkSeaGreen;
  color: #fff;
  font: normal Lucida Console, Monospace;
  position: relative;
  width: 100%;
  padding: 20px;
  height: 200px;
}


li {
	float: left;
	display: block;
	color: DarkSeaGreen;
	text-align: left;
	list-style-type: none;
	display: inline;
	padding: 10px;
}


body {
	background-color: HoneyDew;
	font: normal 10px Lucida Console, Monospace;
	padding: 30px;
}

header h1 {
  font-size: 42px;
  margin: 0;
  text-align: right;
}


